proxmox_api_url = "https://<proxmox_server_ip_address>:8006/api2/json"
proxmox_api_user = "root@pam"
proxmox_api_password = "SuperSecret"
vm_username = "my_user"
vm_public_key = "my_public_key"
proxmox_server_ip = "<proxmox_server_ip_address>"
proxmox_server_user = "root"
private_key_path = "~/.ssh/id_rsa"
