proxmox_api_url = "https://<my_proxmox_ip>:8006/api2/json"
proxmox_api_user = "root@pam"
proxmox_api_password = "<my_proxmox_password>"
proxmox_lxc_public_key = "<my_public_key>"
proxmox_server_user = "root"
# Note, this one can be removed if you comment out the line if you don't want password access, but that means that if you have networking
# issues you need to troubleshoot it will not be available via the proxmox UI - if you're very confident that you won't have networking
# in your home lab network that will break this for you, then you can comment out the password fields and just set public keys, or set
# it to random generated values so people have to look at the state to pull this.  Can theoretically be expanded to populate 
# aws secrets manager or something like that and pull from there instead so you have a "break glass" password paradigm for your lab and
# lower the risk of someone hacking your home.
k8s_server_password = "<server_password_for_k8s_nodes>"
